# ===== 前端 (Node) =====
node_modules/
dist/
*.local
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ===== 后端 (Java/Maven) =====
target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
out/
.idea/
*.iml
*.log
!/.mvn/wrapper/maven-wrapper.jar

# ===== 通用 =====
.DS_Store
*.env
*.env.local